//----------------------------------------------------
// SIDFOT
//----------------------------------------------------
#footer {
  width: 100%;
  margin: 0 auto;
  float: left;
  position: relative;
  padding: 25px 0 4rem;
  .footerContent {
    display: flex;
    .col {
      width: 100%;
      .titleBox {
        float: left;
        width: 100%;
        position: relative;
        h3 {
          color: #ddd;
          text-transform: uppercase;
          margin: 0 0 15px;
          padding: 0 20px 0 0;
          background: #222;
          float: left;
          position: relative;
          z-index: 1;
        }
        .titleBorder {
          float: left;
          width: 100%;
          height: 4px;
          background: $color;
          position: absolute;
          top: 10px;
          left: 0;
          border-radius: 5px;
        }
      }

      &.kontakt {
        padding: 0 4% 0 0;
        color: #ddd;
        a {
          color: #ddd;
        }
        .left {
          float: left;
          width: 50%;
          .adress {
            float: left;
            width: 100%;
            margin: 0 0 4px;
            p {
              margin: 0;
            }
          }
          .epost {
            float: left;
            width: 100%;
          }

          .socialMedia {
            float: left;
            width: 100%;
            margin: 20px 0 0;
            ul {
              margin: 0;
              float: left;
              width: 100%;
              li {
                float: left;
                list-style: none;
                padding: 0 12px 0 0;
                a {
                  .fa {
                    font-size: 25px;
                    transition: color 0.3s;
                  }
                  &:hover {
                    .fa {
                      color: lighten($color, 5%);
                    }
                  }
                }
              }
            }
          }
        }
        .right {
          float: left;
          width: 50%;
          ul {
            margin: 0;
            float: left;
            width: 100%;
            li {
              list-style: none;
              padding: 2px 0;
              float: left;
              width: 100%;
              span {
                float: left;
                width: 50%;
                &:nth-child(1) {
                  text-align: left;
                }
                &:nth-child(2) {
                  text-align: right;
                }
              }
            }
          }
        }
      }
      &.form {
        padding: 0 0 0 4%;
        .form {
          float: left;
          width: 100%;
          .row {
            float: left;
            width: 100%;
            margin: 0 0 10px;
            &.left {
              float: left;
              width: 48%;
            }
            &.right {
              float: right;
              width: 48%;
            }
            &.full {
              float: left;
              width: 100%;
            }

            input {
              float: left;
              width: 100%;
            }
            textarea {
              float: left;
              width: 100%;
            }
            label.error {
              font-size: 12px;
              float: left;
              width: 100%;
              margin: 3px 0 0;
              color: #ff4a4a;
            }
          }
          .submitRow {
            float: left;
            width: 100%;
            input.submit-button {
              padding: 8px 25px;
              background: $color;
              transition: background-color 0.3s;
              color: #fff;
              border-radius: 5em;
              float: right;
              border: none;
              text-transform: uppercase;
              &:focus {
                border: none !important;
              }

              &:hover {
                background: lighten($color, 5%);
                cursor: pointer;
              }
            }
          }

          .spam_validation {
            width: 100%;
            float: left;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .g-recaptcha {
              order: 1;

              div div iframe {
                height: 78px;
                margin: 0;
              }
            }

            label.error {
              order: 2;
              font-size: 12px;
              float: left;
              width: 100%;
              margin: 3px 0 0;
              color: #ff4a4a;
            }
          }
        }
      }
    }
  }

  .copyright {
    font-size: 12px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0 10px;
    .copy {
      width: 50%;
      float: left;
      text-align: left;
      color: #fff;
    }
    .prod {
      width: 50%;
      float: left;
      text-align: right;
      color: #fff;
    }
  }
}
