//----------------------------------------------------
// SIDHUVUD
//----------------------------------------------------
#header { width: 100%; float: left; padding: 15px 0;
	#logotype { float: left; width: 100%; max-width: 260px;
		.logo-img {width: 100%; height: auto;}
	}
	
	//Toggla menyn
	#toggle_navigation { display: none; width: 35px;height: 27px; float: right; position: relative;transform: rotate(0deg);transition: .5s ease-in-out; cursor: pointer;
		span {display: block; position: absolute;height: 3px;width: 100%; max-width:35px; background: $color; ;opacity: 1;left: 0;transform: rotate(0deg);transition: .15s ease-in-out;
			&:nth-child(1) {top: 0;}
			&:nth-child(2), &:nth-child(3) {top: 11px;}
			&:nth-child(4) {top: 22px;}
		}

		&.open {
			span { background: $dark;
				&:nth-child(1) {top: 11px;width: 0; left: 50%;}
				&:nth-child(2) {transform: rotate(45deg);}
				&:nth-child(3) {transform: rotate(-45deg);}
				&:nth-child(4) {top: 11px;width: 0; left: 50%;}
			}
		}
	}

	nav { float: right; padding: 22px 0 0;
		ul { margin: 0; padding: 0;
			li { margin:0; list-style:none; padding: 0 15px; text-align: center; float: left; position: relative; line-height: 1;
				a {padding: 6px 5px; float: left; text-transform: uppercase; font-size: 18px; color:#222; font-weight: 600;
					&:hover { color:$color;}
				}
				ul.sub-menu { float: left; width: 100%; position: absolute; top: 100%; display: none; background:$dark; padding: 10px 5px; z-index: 1;
					li { float: left; width: 100%; padding: 2px 0;
						a {text-transform: none; font-size: 15px; float: left; width: 100%; padding: 5px 10px; text-align: left; position: relative; font-weight: 500; color:#fff;
							&:before {content: '- '}
							&:hover {color:$color;}
						}
					}
					&.open { display: block; animation-name: slideright;animation-duration: .5s;animation-fill-mode:forwards;animation-timing-function: ease; }				
				}

				&.current-menu-item {
					a { color:$color; border-bottom: solid 2px $color;
						&:hover {}
					}

					ul {
						li { 
							a {border:none;}
						}
					}
				}
				&.current-page-ancestor {
					a { color:$color;  border-bottom: solid 2px $color;
						&:hover {}
					}
					ul {
						li {
							a{color:#fff; border:none;}
							&.current-page-ancestor {
								a {color:$color;}
							}
						}
					}
				}
				&.current-page-parent {
					a { color:$color;  border-bottom: solid 2px $color;
						&:hover {}
					}
					ul {
						li {
							a{color:#fff; border:none;}
							&.current-menu-item {
								a {color:$color;}
							}
						}
					}
				}
				&.menu-item-has-children {
					>a {position: relative; 
						&:after {font-family: $FA; content: '\f0d7'; margin:0 0 0 8px};
					}
				}

			}
		}
	}
	
	//Om headern ska dockas.
	&.fixed {}
	&.vissible {}
}