//----------------------------------------------------
// SIDOR
//----------------------------------------------------
// STARTSIDA
#frontpageMainSection { float: left; width: 100%;
	#frontpageContentLeft { float: left; width: 50%; padding: 0 2% 0 0;
		img {}
	}
	#frontpageContentRight { float: left; width: 50%; padding: 8% 0 0 5%;
		.page-header {
			.pageOverrubrik {}
			h1 {font-size: 50px; line-height: 50px; margin:0 0 10px;}
		}
		.page-content {
			p { font-size: 16px; line-height: 25px;
				&:last-child {margin:0;}
			}
		}
	}
}

// Tjänstpuffar
#frontpageTjanstPuff { margin: 5% 0 0; float: left; width: 100%;

	// Meny
	#topContentPuff { float: left; width: 100%;
		ul.tjanstNav { display: flex; float: left; width: 100%; margin:0;

			li { float: left; width: 100%; list-style: none; padding: 0 10px; opacity: .7; transition: all .2s;
				.left { float: left; width: 20%; text-align: center; padding: 15px 0 0;
					.fa {font-size: 45px; color: #777;  transition: all .2s;}
				}
				.right { float: left; width: 80%;
					h3 {text-transform: uppercase;}
					span {}
				}
				&:nth-child(even) {border-right: solid 1px #ccc; border-left: solid 1px #ccc;}

				&:hover { opacity: 1; cursor: pointer;
					.left {
						.fa {color:$color;}
					}
				}
				&.active { opacity: 1; pointer-events:none;
					.left {
						.fa {color:$color;}
					}
				}
			}
		}
	}
	
	// Innehåll
	#bottomContentPuff { float: left; width: 100%;
		#tjanstSection {float: left; width: 100%; 
			.tjanstContent { float: left; width: 100%; padding: 40px 0 0; display: none;
				&.active { animation-name: slideUp;animation-duration: .5s;animation-fill-mode:forwards;animation-timing-function: ease; }
				.left {width: 45%; padding: 0;  float: left;
					img {}
				}
				.right {width: 50%; padding: 0; float: right; 
					span {float: left; width: 100%; float: left; width: 100%; font-size: 25px; margin:0;}
					
					.text {float: left; width: 100%; padding: 25px 0 25px; margin: 20px 0 0; border-top: solid 5px $color;border-right: solid 5px $color; border-bottom: solid 5px $color; position: relative;
						h2 {font-size: 40px; position: absolute; top: -18px; left:0; padding: 0 20px 0 0; background:#fff; margin:0;}
						ul { columns: 3; margin: 15px 0;
							li { position: relative; padding: 4px 0 4px 18px;
								&:before {content: ''; background:$color; height: 6px; width: 6px; border-radius: 5em; position: absolute; top: 11px; left: 0;}
							}
						}
						.readMore { float: left; width: 100%; 
							a { float: left; padding: 7px 20px; background:$color; color:#fff; border-radius: 5em;
								&:hover {background:lighten($color, 5%);}
							}
						}
					}
					
				}
			}
		}
	}
}	

#samarbetspartnerSection {float: left; width: 100%;  margin: 50px 0 0; position: relative; background:#222;	
	ul { margin:0; float: left; width: 100%; padding: 66px 0;
		li { list-style: none; float: left; width: 100%; position: relative; height: 150px;
			img {width: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin:auto;}
		}

		.owl-controls { position: absolute; top: 0; height: 100%;font-size: 14px; width: 100%; margin:0; pointer-events:none;
			.owl-nav {width: 100%;position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; height: 20px;
				.owl-prev { float: left; padding: 0; line-height: 0; transition: padding .2s; position: relative; bottom:15px;
					&:before {position: relative; content: ''; left: -30px; top: 13px; pointer-events:all; border-top: solid 2px $color; border-left: solid 2px $color; width: 25px; height: 25px; float: left; transform: rotate(-45deg) }
				}
				.owl-next {float: right; padding:0; line-height: 0;; position: relative; bottom:15px;
					&:before {position: relative; content: ''; right: -30px;  top: 13px; pointer-events:all; border-top: solid 2px $color; border-right: solid 2px $color; width: 25px; height: 25px; float: left; transform: rotate(45deg) }
				}
			}
		}
	}
}

#facebookSection {float: left; width: 100%; margin: 40px 0 20px;
	.left {float: left; width: 50%; border-top: solid 5px $color;border-left: solid 5px $color; border-bottom: solid 5px $color; padding: 35px 25px 25px 25px; margin: 50px 0 0; position: relative;
		.subTitle {float: left; width: 100%; float: left; width: 100%; font-size: 25px; margin:0; position: absolute; top: -55px; } 
		h2 {font-size: 40px; margin: 0 0 25px; line-height: 40px; position: absolute; top: -25px; left: 20px; background:#fff; padding: 0 20px 0 5px;  }

		.fbPosts {float: left; width: 100%;
			.rfbp-post { float: left; width: 100%;
				h4 {font-size: 17px; font-weight: 700; margin:0 0 5px;
					a {font-weight: 600; color:#222;}
				}

				.rfbp-text {float: left; width: 85%; padding: 0 15px 0 0;
					p {font-size: 14px; line-height: 20px;}
				} 
				.rfbp-image-wrap{float: left; width: 15%; margin:0; text-align: center; padding: 0;
					img {width: 100%;}
				}
				.rfbp-post-link-wrap {float: left; width: 100%;}
			}
		}

		.readMore { float: left; width: 100%; margin: 5px 0 0;
			a { float: left; padding: 7px 20px; background:$color; color:#fff; border-radius: 5em;}
		}
	}
	.right {float: right; width: 45%; }
}


// UNDERSIDOR
// ********************************
.page-thumbnail {float: left; width: 100%; text-align: center; margin:0 0 20px;
	img {}
}
.page-header { float: left; width: 100%; position: relative; 
	.pageOverrubrik {float: left; width: 100%; font-size: 25px; margin:0 0 4px;}
	h1 {position: relative; z-index: 1; float: left; padding: 0 15px 0 0; background:#fff;}
	.titleBorder {float: left; width: 100%; height: 4px; background:$color; position: absolute; top:19px; left: 0; border-radius: 5px;} 
	&.extraTitleExist { 
		.pageOverrubrik {float: left; width: 100%; font-size: 23px; margin:0 0 10px;}
		h1 {}
		.titleBorder {top: inherit; bottom: 30px;}
	}
}
.page-content { float: left; width: 100%;
	p {
		&:last-child {margin:0;}
	}
}

// Tjänster (+ Undersidor)
.leftSidebar {float: left; width: 25%; max-width: 295px; padding: 35px 20px; background:$dark; position: static; top: 0; transition: top .3s;
	&.fixed {position: fixed; top: 45px;}
	ul { margin:0; float: left; width: 100%; 
		
		li { float: left; width: 100%; list-style: none; position: relative; 
			h3 {color:#fff; position: relative; background:$dark; z-index: 1; float: left; padding: 0 10px 0 0;}
			.titleBorder {float: left; width: 100%; height: 4px; background:$color; position: absolute; top:12px; left: 0; border-radius: 5px;} 
			//Toggla menyn
			#toggle_navigation_submenu { display: none; width: 50px;height: 27px; float: right; position: relative;transform: rotate(0deg);transition: .5s ease-in-out; cursor: pointer; background:$dark; 
				span {display: block; position: absolute;height: 4px;width: 85%;  max-width:35px; background: $color; ;opacity: 1; right:0;transform: rotate(0deg);transition: .15s ease-in-out;
					&:nth-child(1) {top: 0;}
					&:nth-child(2), &:nth-child(3) {top: 11px;}
					&:nth-child(4) {top: 22px;}
				}

				&.open {
					span { background: #fff;;
						&:nth-child(1) {top: 11px;width: 0; left: 50%;}
						&:nth-child(2) {transform: rotate(45deg);}
						&:nth-child(3) {transform: rotate(-45deg);}
						&:nth-child(4) {top: 11px;width: 0; left: 50%;}
					}
				}
			}

			ul {
				li {
					a {float: left; width: 100%; padding: 5px 0;}
					ul.children { background: lighten($dark, 5%); padding: 5px; margin:0 0 10px;
						li { padding: 0 0 0 10px;
							a {position: relative; font-size: 14px;
								&:before {content: '- '; margin: 0 3px 0 0;}
							}
						}
					}
				}
			}
		}
	}
}
.rightContent {float: right; width: 75%; padding: 0 0 0 40px;
}
.fullContent {float: left; width: 100%; padding: 0;
	.left {float: left; width: 55%; padding: 0 25px 0 0;}
	.right {float: left; width: 45%; padding: 0 0 0 25px;}
	.full {float: left; width: 100%;}
}

#subpageContent { float: left; width: 100%;
	.subpageContentLeft {float: left; width: 55%; padding: 0 25px 0 0;}
	.subpageContentRight {float: left; width: 45%; padding: 0 0 0 25px;}
	.subpageContentFull {float: left; width: 100%;
		.page-content {
			p {width: 80%;}
		}
	}
	
	//Tjänster
	#childSection { float: left; width: 100%; margin: 30px 0; display: flex; flex-flow: row wrap; justify-content: space-around;
		.childBox {padding: 0 10px; float: left; width: 100%; width: 33.33333333333333%; position: relative; text-align: center; 
			a {
				.imageBox { float: left; width: 100%; line-height: 1; position: relative;
					.cover {position: absolute; top: 0; right: 0; left: 0; bottom: 0; background:rgba(#222, .5); transition: all .2s;}
					img {width: 100%; line-height: 1; float: left; }
				}
				.titleBox {position: absolute; top: 0; right: 0; bottom:0; left: 0; margin:auto; width: 100%; height: 100%; 
					h2 {position: absolute; top: 0; right: 0; left:0; bottom:0; height: 30px; font-size: 40px; margin:auto; color:#fff; text-shadow: 0 1px 2px black; }
				}
				&:hover {
					.imageBox {
						.cover {background:rgba(#222, .1);}
					}
				}
			}

		}
	}

	// Samarbeten
	#samarbetenLogos {float: left; width: 100%; margin: 30px 0;
		ul { margin:0; float: left; width: 100%; display: flex;  flex-flow: row wrap; justify-content: space-around; 
			li { width: 23%; float: left; list-style: none; height: 150px; position: relative; border: solid 1px #ccc; margin:13px 0;
				img {position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin:auto;}
			}
		}
	}

	// Kontakt
	.contactPageTop {float: left; width: 100%;}
	.contactPageLeft {float: left; width: 70%; padding: 0 25px 0 0; border-right: solid 1px #ccc;
		ul { margin:0;
			li { float: left; width: 48%; list-style: none; margin:0 0 15px; min-height:90px;
				&:nth-child(even) {float: right;}
				.left {float: left; width: 35%;}
				.right { float: left; width: 65%; padding: 0 0 0 15px;
					span {float: left; width: 100%; margin:0 0 5px;
						.fa {float:left; margin: 3px 7px 0 0; color:$color;}
						a {color:#222;}
						&.name {font-weight: 700;}
						&.tele {}
						&.epost {}
					}
				}
			}
		}
	}
	.contactPageRight {float: left; width: 30%; padding: 0 0 0 25px;}

	.contactPageMap{float: left; width: 100%; margin: 30px 0;
		.acf-map { float: left; height: 350px; width: 100%;
			.marker {}
		}
	}

}

.kontakt {
	#subpageContent {
		.contactPageLeft {
			ul {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}
}