//----------------------------------------------------
// SINGLESIDOR
//----------------------------------------------------
.single-post {
	.post-header {
		h1 {}
		.meta-info { font-size: small;
			.updated {}
			.author {}
		}
	}
	.post-content {
		p {
			&:last-child {margin:0;}
		}
	}
	.post-footer {

	}
}

//----------------------------------------------------
// SÖKRESULTAT
//----------------------------------------------------
ul#search_result {
	li {
		.serach-post-header {
			h2 {}
		}
		.serach-post-content {

		}
		.serach-post-footer {

		}
	}	
}