@media only screen and (max-width:1440px) {

}
@media only screen and (max-width:1280px) {

}
@media only screen and (max-width:1140px) {

}
//Liggande ipad
@media only screen and (max-width:1024px) {
	#footer {padding: 25px 15px 0; }
}
//Liggande nexus platta
@media only screen and (max-width:966px) {
	
}
//Stående Ipad
@media only screen and (max-width:768px) {
	#footer {width: 100%; margin: 0 auto; float: left; position: relative; 
		.footerContent { display: flex;
			.col {
				.titleBox { 
					h3 {}
					.titleBorder {} 
				}
				
				&.kontakt {
					.left {width: 100%;
						.adress {}

						.socialMedia {margin: 15px 0 10px;
							ul {
								li {
									a {}
								}
							}
						}
					}
					.right {float: left; width: 100%; 
						ul {
							li {
								span {}
							}
						}
					}

				}
				&.form {
					.form { 
						.row { }
						.submitRow {}
					}
				}
			}
		}
	}
}
//Liggande iphone 6 plus
@media only screen and (max-width:736px) {
	
}
//Liggande iphone 6
@media only screen and (max-width:667px) {

}
//Liggande iphone 5/5s
@media only screen and (max-width:568px) {
	#footer {width: 100%; margin: 0 auto; float: left; position: relative; 
		.footerContent { display: block;
			.col {
				.titleBox { 
					h3 {}
					.titleBorder {} 
				}
				
				&.kontakt { 
					.left {width: 100%;
						.adress {}

						.socialMedia {margin: 15px 0 10px;
							ul {
								li {
									a {}
								}
							}
						}
					}
					.right {float: left; width: 100%; 
						ul {
							li {
								span {}
							}
						}
					}

				}
				&.form { padding: 0; margin: 20px 0 0; float: left; width: 100%;
					.form { 
						.row { }
						.submitRow {}
					}
				}
			}
		}

		.copyright { margin: 20px 0 0;
			.copy { width: 100%; float: left; text-align: center; margin:0 0 4px;}
			.prod { width: 100%; float: left; text-align: center; }
		}

	}
}
//liggande iphone 4/4s
@media only screen and (max-width:450px) {

}
//Stående iphone 6 plus
@media only screen and (max-width:414px) {

}
//Stående Samsung/sony
@media only screen and (max-width:360px) {

}
//Stående iphone 4/5/5s
@media only screen and (max-width:320px) {

}