@media only screen and (max-width:1440px) {

}
@media only screen and (max-width:1240px) {
	body {
		.wrapper {
			&.wrapper_main {padding: 0 15px;}
		}
	}
}
@media only screen and (max-width:1140px) {

}
//Liggande ipad
@media only screen and (max-width:1024px) {

}
//Liggande nexus platta
@media only screen and (max-width:966px) {
	
}
//Stående Ipad
@media only screen and (max-width:768px) {
	body {background-size: 115% !important; }
}
//Liggande iphone 6 plus
@media only screen and (max-width:736px) {
	
}
//Liggande iphone 6
@media only screen and (max-width:667px) {
	
}
//Liggande iphone 5/5s
@media only screen and (max-width:568px) {
	body {background:none !important; font-size: 15px;}
	
	h1, h2, h3, h4 { }
	h1 {margin: 0 0 12px; font-size: 30px; line-height: 30px;}
	h2 {margin: 0 0 8px; font-size: 25px; line-height: 25px;}
	h3 {margin: 0 0 6px; font-size: 22px; line-height: 25px;}
	h4 {margin: 0 0 0px; font-size: 20px; line-height: 22px;}
	h5 {margin: 0 0 0px; font-size: 18px; line-height: 19px;}
	h6 {margin: 0 0 0px; font-size: 18px; line-height: 19px;}

}
//liggande iphone 4/4s
@media only screen and (max-width:450px) {

}
//Stående iphone 6 plus
@media only screen and (max-width:414px) {

}
//Stående Samsung/sony
@media only screen and (max-width:360px) {

}
//Stående iphone 4/5/5s
@media only screen and (max-width:320px) {

}