@media only screen and (max-width:1440px) {

}
@media only screen and (max-width:1280px) {

}
@media only screen and (max-width:1140px) {

}
//Liggande ipad
@media only screen and (max-width:1024px) {
	#header { width: 100%; float: left; padding: 15px 15px;
		#logotype {max-width: 230px;}

		nav { padding: 18px 0 0;
			ul { 
				li { padding: 0 10px;
					a {padding: 6px 5px; font-size: 17px; }

					ul.sub-menu {display: none !important;}
					&.menu-item-has-children {
						>a {
							&:after {display: none;}
						}
					}
				}
			}
		}
	}
}
//Liggande nexus platta
@media only screen and (max-width:966px) {
	
}
//Stående Ipad
@media only screen and (max-width:768px) {
	#header { width: 100%; float: left; padding: 15px 15px;
		#logotype {max-width: 150px;}

		nav { padding: 8px 0 0;
			ul { 
				li { padding: 0 5px;
					a {padding: 6px 5px; font-size: 14px; }

					ul.sub-menu { 
						li {
							a {font-size: 14px; padding: 4px 10px;}
						}
					}
				}
			}
		}
	}
}
//Liggande iphone 6 plus
@media only screen and (max-width:736px) {
	#header { width: 100%; float: left; padding: 15px 15px 0;
		#logotype {max-width: 180px;}
		#toggle_navigation {display: block; position: relative; top: 10px; }
		nav { padding: 8px 0 0; width: 100%; position: relative;
			ul { background:$dark; padding: 10px; position: absolute; z-index: 100; display: none; 
				li { padding: 5px 5px; float: left; width: 100%; text-align: left;
					a {padding: 6px 5px; font-size: 14px;  float: left; width: 100%; color:#fff;}
					&.menu-item-has-children {
						>a {
							&:after {display: none;}
						}
					}
					ul.sub-menu { display: block !important;; position: relative; background:darken($dark, 5%);
						li { padding: 3px 0;
							a {font-size: 14px; padding: 4px 10px;
								&:before {margin:0 10px 0 0;}
							}
						}
					}
				}
			}
		}
	}
}
//Liggande iphone 6
@media only screen and (max-width:667px) {

}
//Liggande iphone 5/5s
@media only screen and (max-width:568px) {

}
//liggande iphone 4/4s
@media only screen and (max-width:450px) {

}
//Stående iphone 6 plus
@media only screen and (max-width:414px) {

}
//Stående Samsung/sony
@media only screen and (max-width:360px) {

}
//Stående iphone 4/5/5s
@media only screen and (max-width:320px) {

}