@media only screen and (max-width:1440px) {

}
@media only screen and (max-width:1240px) {
	// STARTSIDA
	#frontpageMainSection {
		#frontpageContentLeft { width: 40%; padding: 0 2% 0 0;
			img {}
		}
		#frontpageContentRight { width: 60%; padding: 5% 0 0 5%;
			.page-header {
				.pageOverrubrik {}
				h1 {background:none;}
			}
			.page-content {
				p { 
					&:last-child {}
				}
			}
		}
	}

	#samarbetspartnerSection {
		ul {padding: 30px 50px;
			li { list-style: none; float: left; width: 100%; position: relative; height: 150px;
				img {width: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin:auto;}
			}
			.owl-controls { display: none; }
		}
	}


}
@media only screen and (max-width:1140px) {

}
//Liggande ipad
@media only screen and (max-width:1024px) {
	// STARTSIDA
	#frontpageMainSection {
		#frontpageContentLeft { width: 40%; padding: 0 2% 0 0;
			img {}
		}
		#frontpageContentRight { width: 60%; padding: 3% 0 0 5%;
			.page-header {
				.pageOverrubrik {}
				h1 {}
			}
			.page-content {
				p { 
					&:last-child {}
				}
			}
		}
	}
	
	// Tjänstpuffar
	#frontpageTjanstPuff { 

		// Meny
		#topContentPuff { 
			ul.tjanstNav {

				li { 
					.left { padding: 0;
						.fa {font-size: 35px; }
					}
					.right { 
						h3 {}
						span {
							p {font-size: 14px; line-height: 20px}
						}
					}
					&:nth-child(even) {}
				}
			}
		}
	}

	#samarbetspartnerSection {
		.wrapper { clear:both; padding: 0;}
		ul {padding: 10px 30px;
			li { list-style: none; float: left; width: 100%; position: relative; height: 150px;
				img {width: auto; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin:auto;}
			}
			.owl-controls { display: none; }
		}
	}

	#facebookSection {
		.right {float: right; width: 45%; margin: 5% 0 0; }
	}
	
	

}
//Liggande nexus platta
@media only screen and (max-width:966px) {
	
}
//Stående Ipad
@media only screen and (max-width:768px) {
	// STARTSIDA
	#frontpageMainSection {
		#frontpageContentLeft {padding: 20px;}
		#frontpageContentRight { width: 100%; padding: 25px; background:rgba(#fff, .5);
			.page-header {
				.pageOverrubrik {margin:0;}
				h1 {font-size: 40px; margin:0;}
			}
			.page-content {
				p { 
					&:last-child {}
				}
			}
		}
	}
	// Tjänstpuffar
	#frontpageTjanstPuff { 
		// Meny
		#topContentPuff { 
			ul.tjanstNav {
				li { 
					.left { 
						.fa {font-size: 27px; }
					}
					.right { 
						h3 {font-size: 18px; margin:0 0 2px;}
						span {
							p {font-size: 14px; line-height: 20px}
						}
					}
					&:nth-child(even) {}
				}
			}
		}

		// Innehåll
		#bottomContentPuff {
			#tjanstSection {
				.tjanstContent { 
					.left {width: 100%; margin:15px 0 0;
						img {width: 100%;}
					}
					.right {width: 100%; 
						span {float: left; width: 100%; float: left; width: 100%; font-size: 25px; margin:0;}
						.text {padding: 25px 15px 25px 0; 
							h2 {font-size: 40px; }
							ul { columns: 3; 
								li { 
									&:before {}
								}
							}
						}
					}
				}
			}
		}
	}

	#facebookSection {
		.left { width: 100%;padding: 35px 25px 25px 25px; border-right: solid 5px $color;
			.subTitle {font-size: 25px; } 
			h2 {font-size: 40px; }
		}
		.right {width: 100%; margin: 25px 0 0; 
			img {width: 100%;}
		}
	}

	// UNDERSIDOR
	// ********************************
	.page-thumbnail {float: left; width: 100%; text-align: center; margin:0 0 20px;
		img {}
	}
	.page-header { float: left; width: 100%; position: relative; 
		.pageOverrubrik {float: left; width: 100%; font-size: 25px; margin:0 0 4px;}
		h1 {position: relative; z-index: 1; float: left; padding: 0 15px 0 0; background:#fff;}
		.titleBorder {float: left; width: 100%; height: 4px; background:$color; position: absolute; top:19px; left: 0; border-radius: 5px;} 
		&.extraTitleExist { 
			.pageOverrubrik {float: left; width: 100%; font-size: 23px; margin:0 0 10px;}
			h1 {}
			.titleBorder {top: inherit; bottom: 30px;}
		}
	}
	.page-content { float: left; width: 100%;
		p {
			&:last-child {margin:0;}
		}
	}
	
	// Tjänster (+ Undersidor)
	.leftSidebar {float: left; width: 100%; max-width: none; padding: 25px 20px; margin: 0 0 20px; background:$dark; position: relative !important; top: 0 !important;; transition: top .3s;
		&.fixed {position: fixed; top: 45px;}
		ul { margin:0; float: left; width: 100%; 
			li { float: left; width: 100%; list-style: none; position: relative; 
				h3 {color:#fff; position: relative; background:$dark; z-index: 1; float: left; padding: 0 10px 0 0; margin:0;}
				.titleBorder {float: left; width: 100%; height: 4px; background:$color; position: absolute; top:12px; left: 0; border-radius: 5px;} 
				#toggle_navigation_submenu {display: block;}
				ul { display: none;
					li {
						a {}
						ul.children { display: block !important;
							li { padding: 0 0 0 7px;
								a {padding: 3px 0; color:#fff;}
							}
						}
					}
				}
			}
		}
	}
	.rightContent {float: right; width: 100%; padding: 0;
	}

	.fullContent {float: left; width: 100%; padding: 0;
		.left {float: left; width: 100%; padding: 0 0 15px;}
		.right {float: left; width: 100%; padding: 15px 0 0;
			img {width: 100%;}
		}
		.full {float: left; width: 100%;}
	}


	#subpageContent { float: left; width: 100%;
		.subpageContentLeft {float: left; width: 100%; padding: 0 0 15px 0;}
		.subpageContentRight {float: left; width: 100%; padding: 15px 0 0 0;
			img {width: 100%;}
		}
		.subpageContentFull {float: left; width: 100%;
			.page-content {
				p {width: 100%;}
			}
		}
		
		// Samarbeten
		#samarbetenLogos {
			ul {
				li { width: 30%; height: 120px;
					img {max-width: 90%;}
				}
			}
		}

		//Tjänster
		#childSection { 
			.childBox { width: 49.5%; position: relative; text-align: center; 
				a { float: left; width: 100%; margin:0 0 15px;
					.imageBox { }
					.titleBox {
						h2 {height: 30px; font-size: 40px; }
					}
				}
			}
		}
	
		// Kontakt
		.contactPageLeft {width: 100%; padding: 0 0 15px 0; border-right: none; border-bottom: solid 1px #ccc;
			ul { 
				li { margin:0 0 5px;
					.left {}
					.right { 
						span {
							.fa {}
							a {}
							&.name {}
							&.tele {}
							&.epost {}
						}
					}
				}
			}
		}
		.contactPageRight {width: 100%; padding: 15px 0 0 0;}

		.contactPageMap{float: left; width: 100%; margin: 25px 0;
			.acf-map { height: 250px;
				.marker {}
			}
		}

	}

}
//Liggande iphone 6 plus
@media only screen and (max-width:736px) {
	
}
//Liggande iphone 6
@media only screen and (max-width:667px) {

}
//Liggande iphone 5/5s
@media only screen and (max-width:568px) {
	// STARTSIDA
	#frontpageMainSection {
		#frontpageContentRight { padding: 0; background:none;
			.page-header {
				.pageOverrubrik {font-size: 20px;}
				h1 {font-size: 30px; margin:0 0 5px; line-height: 40px;}
			}
		}
	}

	// Tjänstpuffar
	#frontpageTjanstPuff { 
		// Meny
		#topContentPuff { 
			ul.tjanstNav { display: block;
				li { float: left; width: 100%; padding: 15px 0;
					.left { display: none; }
					.right { width: 100%;
						h3 {font-size: 18px; margin:0 0 2px;}
						span {
							p { margin:0; font-size: 14px; line-height: 20px}
						}
					}
					&:nth-child(even) {border-right: none; border-left: none; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; }

					&.active {
						.right {
							h3 {color:$color;}
						}
					}
				}
			}
		}

		// Innehåll
		#bottomContentPuff {
			#tjanstSection {
				.tjanstContent { 
					.left {width: 100%; margin:15px 0 0;
						img {width: 100%;}
					}
					.right { 
						span {font-size: 20px;}
						.text {padding: 25px 15px 25px 0; 
							h2 {font-size: 30px; }
							ul { columns: 2; 
								li { padding: 2px 0 2px 18px;
									&:before {}
								}
							}
						}
					}
				}
			}
		}
	}

	#facebookSection { margin:20px 0 20px;
		.left { width: 100%;padding: 35px 25px 25px 25px; border-right: solid 5px $color;
			.subTitle {font-size: 20px; top:-48px;} 
			h2 {font-size: 30px; line-height: 30px; top: -20px;  }
		}
		.right {width: 100%; margin: 25px 0 0; 
			img {width: 100%;}
		}
	}

	// UNDERSIDOR
	// ********************************
	.page-thumbnail {float: left; width: 100%; text-align: center; margin:0 0 20px;
		img {}
	}
	.page-header { 
		.pageOverrubrik {font-size: 20px; }
		h1 {}
		.titleBorder {top:15px;} 
		&.extraTitleExist { 
			.pageOverrubrik {font-size: 20px; margin:0 0 5px;}
			h1 {}
			.titleBorder {bottom: 25px;}
		}
	}
	.page-content { }

	#subpageContent { float: left; width: 100%;

		// Samarbeten
		#samarbetenLogos {
			ul {
				li { width: 46%; 
					img {max-width: 90%;}
				}
			}
		}

		//Tjänster
		#childSection { 
			.childBox { width: 49.5%; position: relative; text-align: center; 
				a { float: left; width: 100%; margin:0 0 15px;
					.imageBox { }
					.titleBox {
						h2 {height: 35px; font-size: 30px; }
					}
				}
			}
		}

		// Kontakt
		.contactPageLeft {width: 100%; padding: 0 0 15px 0; border-right: none; border-bottom: solid 1px #ccc;
			ul { 
				li { margin:0 0 15px;
					.left {display: none;}
					.right { width: 100%; padding: 0;
						span {
							.fa {}
							a {}
							&.name {}
							&.tele {}
							&.epost {}
						}
					}
				}
			}
		}
		.contactPageRight {width: 100%; padding: 15px 0 0 0;}

		.contactPageMap{float: left; width: 100%; margin: 25px 0;
			.acf-map { height: 250px;
				.marker {}
			}
		}

	}
}
//liggande iphone 4/4s
@media only screen and (max-width:450px) {

}
//Stående iphone 6 plus
@media only screen and (max-width:414px) {
	// Tjänstpuffar
	#frontpageTjanstPuff { 
		// Meny
		#topContentPuff { 
			ul.tjanstNav { 
				li { 
					.right { 
						h3 {}
						span {
							p {}
						}
					}
				}
			}
		}

		// Innehåll
		#bottomContentPuff {
			#tjanstSection {
				.tjanstContent { 
					.right { 
						.text {
							ul { columns: 1; padding: 0 0 0 15px;
								li { }
							}
						}
					}
				}
			}
		}
	}
	#facebookSection { margin:20px 0 0;
		.left { width: 100%;padding: 20px; border-right: solid 5px $color;
			.subTitle {font-size: 20px; top:-48px;} 
			h2 {font-size: 30px; line-height: 30px; top: -20px; left: 12px; }

			.fbPosts {
				.rfbp-post {
					.rfbp-text {float: left; width: 100%; padding: 0;} 
					.rfbp-image-wrap{display: none;}
					.rfbp-post-link-wrap {float: left; width: 100%;}
				}
			}
		}
		.right {display: none;}
	}

	// UNDERSIDOR
	// ********************************
	.page-thumbnail {float: left; width: 100%; text-align: center; margin:0 0 20px;}
	.page-header { 
		.pageOverrubrik {font-size: 18px; }
		&.extraTitleExist { 
			.pageOverrubrik {font-size: 18px; margin:0 0 5px;}
			.titleBorder {bottom: 30px;}
		}
	}
	.page-content { }

	#subpageContent { float: left; width: 100%;

		// Samarbeten
		#samarbetenLogos {
			ul {
				li { width: 48%; height: 90px;
					img {max-width: 70%;}
				}
			}
		}

		//Tjänster
		#childSection { 
			.childBox { width: 100%; position: relative; text-align: center; 
				a { float: left; width: 100%; margin:0 0 15px;
					.imageBox { max-height: 150px; overflow: hidden; }
					.titleBox {
						h2 {height: 35px; font-size: 30px; }
					}
				}
			}
		}

		// Kontakt
		.contactPageLeft {width: 100%; padding: 0 0 15px 0; border-right: none; border-bottom: solid 1px #ccc;
			ul { 
				li { margin:0 0 15px; width: 100%;
					.left {display: none;}
					.right { width: 100%; padding: 0;
						span {
							.fa {}
							a {}
							&.name {}
							&.tele {}
							&.epost {}
						}
					}
				}
			}
		}
		.contactPageRight {width: 100%; padding: 15px 0 0 0;}

		.contactPageMap{float: left; width: 100%; margin: 25px 0;
			.acf-map { height: 250px;
				.marker {}
			}
		}
	}
}
//Stående Samsung/sony
@media only screen and (max-width:360px) {

}
//Stående iphone 4/5/5s
@media only screen and (max-width:320px) {

}