//*****************************************************
// Allmänt
//*****************************************************
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.clear {
  clear: both;
  *zoom: 1;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
  }
}

html {
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  overflow-x: hidden;
  position: relative;
  background-size: 60% !important;
  float: left;
  width: 100%;
  .wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    position: relative;
    &.wrapper_header {
      padding: 0;
    }
    &.wrapper_main {
      padding: 0;
      clear: both;
    }
    &.wrapper_footer {
      padding: 15px 0 0;
    }
  }
  //Om en sidebar ej finns.
  #main_wrapper {
    float: left;
    width: 100%;
    .content {
      float: left;
      width: 100%;
      #main {
        float: left;
        width: 100%;
        position: relative;
      }
      .mainBase {
        float: left;
        width: 100%;
        position: relative;
      }
    }
  }

  //Om en sidebar finns.
  &.sidebar-active {
    #main_wrapper {
      float: left;
      width: 100%;
      .content {
        float: left;
        width: 100%;
        #main {
          float: left;
          width: 72%;
          padding: 0 25px 0 0;
        }
        .mainBase {
          float: left;
          width: 72%;
          padding: 0 25px 0 0;
        }
        #sidebar {
          float: left;
          width: 28%;
          padding: 0 0 0 25px;
        }
      }
    }
  }
}

.floatFix {
  float: left;
  width: 100%;
  &.footer {
    background: #222;
    margin: 30px 0 0;
  }
}

.page-content {
  p {
    a {
      //------- SKAPA EN EGEN REGEL: -------//
      // "$"står för -Slutar med ex: &[href$=".pdf"]
      // "^"står för -Börjar med ex: &[href^="mailto:"]
      // "attr*"står för -Innehåller ex: &[attr*="textnågonstnas"]

      // &[href^="mailto:"] { // Lägg till ikon efter alla Mailto länkar
      // 	&:after { content:'\f003'; font-family:$FA; margin:0 0 0 5px; }
      // }
      // &[href^="/"], &[href^=".."] { // Lägg till ikon efter alla Interna länkar
      // 	&:after { content:'\f105'; font-family:$FA; margin:0 0 0 5px; }
      // }
      // &[href^="http://"] { // Lägg till ikon efter alla förmodade Externa länkar (baseras på länkar som startar med "http://")
      // 	&:after { content:'\f101'; font-family:$FA; margin:0 0 0 5px; }
      // }
      // &[href$=".pdf"] { // Lägg till ikon efter alla PDF länkar
      // 	&:after { content:'\f1c1'; font-family:$FA; margin:0 0 0 5px; }
      // }
    }
  }
}

/*------------------------------------*\
    Youtube
\*------------------------------------*/
iframe:not([title="reCAPTCHA"]) {
  float: left;
  width: 100%;
  height: 290px;
  margin: 15px 0;
}
/*------------------------------------*\
    COOOKIES
\*------------------------------------*/
.coockie_holder {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  float: left;
  z-index: 9999;
  .cookie_notice {
    width: 344px;
    max-width: 94%;
    margin: 0 auto 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    border-bottom: 4px solid #b90000;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    position: relative;
    .msg {
      width: 80%;
      a {
        color: #ccc;
      }
    }
    .acc {
      position: absolute;
      top: 20px;
      right: 30px;
      width: 30px;
      height: 30px;
      text-align: center;
      background: transparent;
      border-radius: 50%;
      border: 1px solid #fff;
      color: #fff;
      transition: background 0.3s;
      &:hover {
        background: #b90000;
        cursor: pointer;
      }
    }
  }
}

//*****************************************************
// Typografi & Bildhantering
//*****************************************************
h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: #2e2e2e;
  font-family: "Roboto", sans-serif;
}
h1 {
  margin: 0 0 15px;
  font-size: 40px;
  line-height: 40px;
}
h2 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 30px;
}
h3 {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 25px;
}
h4 {
  margin: 0 0 0px;
  font-size: 22px;
  line-height: 22px;
}
h5 {
  margin: 0 0 0px;
  font-size: 18px;
  line-height: 19px;
}
h6 {
  margin: 0 0 0px;
  font-size: 18px;
  line-height: 19px;
}

p {
  margin: 0 0 15px 0;
  line-height: 24px;
}
i,
em {
  font-style: italic;
}
blockquote {
  font-style: italic;
  margin: 0 0 10px 20px;
}
b,
strong {
  font-weight: bold;
}
a {
  color: $color;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: lighten($color, 10%);
    text-decoration: none;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
}
ul {
  margin: 0 0 10px 35px;
  li {
    list-style: disc;
    padding: 0;
    line-height: 23px;
  }
}
ol {
  margin: 0 0 10px 35px;
  li {
    list-style: decimal;
    padding: 0;
    line-height: 23px;
  }
}
img {
  opacity: 1;
  transition: opacity 0.2s;
  max-width: 100%;
  height: auto;
  &[data-src] {
    opacity: 0;
  }

  &.alignleft {
    float: left;
    margin: 15px 15px 15px 0;
  }
  &.aligncenter {
    float: none;
    display: block;
    margin: 15px auto;
  }
  &.alignright {
    float: right;
    margin: 15px 0 15px 15px;
  }
}

//*****************************************************
// Inputs, Textarea, Selects och knappar
//*****************************************************
input,
textarea,
select {
  resize: none;
  outline: 0;
  border: solid 1px #e0e0e0;
  padding: 12px 8px;
  font-family: "Open Sans", sans-serif;
  &.error {
    background: #ffd8e1;
    border: solid 1px #e26884 !important;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #ffd8e1 inset;
    }
  }
  &.valid {
    background: #caffd6;
    border: solid 1px #00925c !important;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #caffd6 inset;
    }
  }
  &:focus {
    outline: 0;
    border: solid 1px #ffd8e1 !important;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }
}
select {
  &.error {
    border: solid 1px #e26884 !important;
  }
  &.valid {
    border: solid 1px #00925c !important;
  }
}
button {
  border: solid 1px #e0e0e0;
  &:focus {
    outline: 0;
  }
}

.row {
  position: relative;
  margin: 0 0 10px;
  i {
    position: absolute;
    top: 13px;
    right: 10px;
    transform: scale(0);
    transition: transform 0.2s;
    &.fa-times {
      color: #cc002f;
    }
    &.fa-check {
      color: #00925c;
    }
  }
  .error ~ .fa-times {
    transform: scale(1);
  }
  .error ~ .fa-check {
    transform: scale(0);
  }
  .valid ~ .fa-times {
    transform: scale(0);
  }
  .valid ~ .fa-check {
    transform: scale(1);
  }
}

//*****************************************************
// SHORTCODES
//*****************************************************
.ingress_text_sc {
  font-size: 17px;
  color: #555;
  margin: 15px 0;
  &.alignleft {
    text-align: left;
  }
  &.aligncenter {
    text-align: center;
  }
  &.alignright {
    text-align: right;
  }
}
.ingress_text_sc {
  float: left;
  width: 100%;
  a {
    padding: 10px 0;
    text-align: center;
    float: left;
    width: 100%;
  }
}

//*****************************************************
// MEDDELANDEN | Kopplat till site-messages.php
//*****************************************************
.function_message {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  opacity: 0;
  animation-name: slideright;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.8s;
  margin: 0 0 15px;
  .inner {
    float: left;
    width: 100%;
    padding: 10px 20px 10px 13px;
    text-align: left;
    position: relative;
    .fa {
    }
    p {
      margin: 0;
    }
    &.success {
      color: #3c763d;
      background-color: #dff0d8;
      border-left: solid 5px #559a1c;
    }
    &.failed {
      color: #a94442;
      background-color: #f2dede;
      border-left: solid 5px #ca3750;
    }
    &.info {
      color: #31708f;
      background-color: #d9edf7;
      border-left: solid 5px #18a7c3;
    }
  }
  // Kopplad till Om inga poster hittades.
  &.light_message {
    position: inherit;
    top: inherit;
    right: inherit;
    .inner {
      margin: 15px 0;
    }
  }
}

//*****************************************************
// 404 | Sökning och Menar du-sektion
//*****************************************************
#search_form {
  float: left;
  width: 100%;
  margin: 10px 0 0;
  .row_search {
    input {
      float: left;
      &.search-field {
        width: 100%;
        max-width: 300px;
      }
      &.search-submit {
        padding: 12px 20px;
      }
    }
  }
}

//Menar du-section
#suggestion_posts {
  float: left;
  width: 100%;
  h3 {
  }
  ul {
    margin: 0;
    li {
      float: left;
      width: 100%;
      list-style: none;
      a {
      }
    }
  }
}

//*****************************************************
// Läs mer - Excerpt
//*****************************************************
.read-more-link {
  float: left;
  width: 100%;
  margin: 10px 0;
  .view-article {
    border: solid 1px #b5b3b3;
    padding: 5px 20px;
    background: transparent;
    float: right;
    transition: all 0.2s;
    &:hover {
      border: solid 1px $color;
    }
  }
}

//*****************************************************
// Rubrik fix - Om den är för lång.
//*****************************************************
.titleFix {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//*****************************************************
// Brödsmulor | Yoast SEO
//*****************************************************
#breadcrumbs {
  float: left;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0 20px;
  padding: 0;
  color: $color;
  position: relative;
  span {
    color: #231f20;
    text-transform: uppercase;
    span {
      a {
        color: #231f20;
        padding: 0 10px;
        opacity: 0.6;
      }
    }
    span {
      span.breadcrumb_last {
        padding: 0 0 0 10px;
        opacity: 1;
      }
    }
  }
}
#breadcrumbs > span > span > a {
  padding: 0 10px 0 0;
}
