//**********************************************************************************************
// Typsnitt
//**********************************************************************************************
// Roboto
// font-family: 'Roboto', sans-serif;
// https://fonts.google.com/specimen/Roboto?selection.family=Roboto:300,400,700,900
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$FA: FontAwesome;


//**********************************************************************************************
// Färgvariable och keyframes (animationer)
//**********************************************************************************************
$color:         #f27021;
$dark:         #434141;

@keyframes slideright {
    0%   {opacity:0; transform:translate3d(-10px,0,0);}     
    100% {opacity:1; transform:translate3d(0,0,0);}
}
@keyframes slideUp {
    0%   {opacity:0; transform:translate3d(0,-10px,0);}     
    100% {opacity:1; transform:translate3d(0,0,0);}
}