//Variable
$admin-color: #ff6600;

@keyframes slideUp {
    0%   {opacity:0; transform:translate3d(0,-10px,0);}     
    100% {opacity:1; transform:translate3d(0,0,0);}
}
@keyframes slideright {
    0%   {opacity:0; transform:translate3d(-40px,0,0);}     
    100% {opacity:1; transform:translate3d(0,0,0);}
}
 
//Inloggning
.login {
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,248,240,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,248,240,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,248,240,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,248,240,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,248,240,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,248,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff8f0', GradientType=1 );
	#login { width: 650px; 
		h1 { 
			a {background-image: url('../../../assets/images/logotype.png'); background-size: auto;width: auto; outline: 0; margin:0; box-shadow: none; pointer-events:none;
				&:hover {outline: 0;}
				&:focus {outline: 0;}
				&:active {outline: 0;}
			} 
		}

		//Meddelande
		#login_error { animation-name: slideright;animation-duration: .5s;animation-fill-mode:forwards;animation-timing-function: ease;}
		
		p.message {animation-name: slideright;animation-duration: .5s;animation-fill-mode:forwards;animation-timing-function: ease;}
		
		//Form
		#loginform {  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45); padding: 26px 24px;
			p {
				//username
				label[for=user_login] { float: left; width: 48%;
					input { font-size: 14px; padding: 10px 15px; margin:0;
						&:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #fff inset;}
					}
				}

				//password
				label[for=user_pass] { float: right; width: 48%;
					input { font-size: 14px; padding: 10px 15px; margin:0;
						&:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #fff inset;}
					}
				}
				//Google Authenticator
				label[for=authenticator] { float: left; width: 100%; margin: 10px 0 0;
					small {display: none;}
					input {font-size: 14px; padding: 10px 15px; margin:0;
						&:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #fff inset;}
					}
				}
				//forgetmenot
				&.forgetmenot { float: left; width: 48%; margin:15px 0 0;
					label[for=rememberme] { float: left; width: 100%;
						input { margin:0 10px 0 0;
							&:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #fff inset;}
							&:before {color:#507E02; margin:-12px 0 0 -7px; font-size: 35px;}
						}
					}
				}
				//Login button
				&.submit { width: 25%; float: right; margin:15px 0 0;
					input { border-radius: 0; padding:10px 15px; height: auto; line-height: 21px; width: 100%; background:#507E02; text-shadow:none; box-shadow:none; border:0; transition:background .3s;
						&:hover {background:darken(#507E02, 5%); outline: 0;}
						&:focus {outline: 0;}
						&:active {outline: 0;}
					}
				}
			}
		}
		
		#lostpasswordform {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
			p {
				//username
				label[for=user_login] { float: left; width: 74%;
					input { font-size: 14px; padding: 10px 15px; margin:0;

					}
				}
				//Login button
				&.submit { width: 24%; float: right; margin:24px 0 0;
					input { border-radius: 0; padding:10px 15px; height: auto; line-height: 21px; width: 100%; background:#507E02; text-shadow:none; box-shadow:none; border:0; transition:background .3s;
						&:hover {background:darken(#507E02, 5%); }
					}
				}
			}
		}
		
		//Glömt lösenord
		p { 
			&#nav { float: right; width: 48%; margin: 15px 0 0; text-align: center;

			}
			&#backtoblog { float: left; width: 48%; margin:15px 0 0; text-align: center;

			}
		}
	}
}